*{
    margin: 0;
    padding: 0;
}

.logoDaEmpresa_login{
    background-color: #763A5A;
    
}

.container_login{ 
    position: sticky;  
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.container_login ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-weight: bold;
}

.container_login h1{
    color: #fff;
}

.container_login a{
    color:#fff;
    text-decoration: none;
}

li::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform 1.90;
    transform: scaleX(0);
    transform-origin: right;
    background-color: #ffc4fb;
}

li:hover{
    color: #ffc4fb;
}

li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.logo{
    display: flex;
    justify-content: space-between;
}

.imgLogo img{
    width: 55px;
    height: 55px;
}

.textoLogo{
    display: flex;
    align-items: center;
}